
@{
    ViewBag.Title = "Education";
}

<div class="container text-center">
    <h2>Education detailes</h2>
    <p>BE civil</p>
    <p>
        Visvesvaraya Technological University
    </p>
    
</div>


